.container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.main-img{
    position: absolute;
    width: 80%;
    top: 12rem;
}

.main-bubble {
    position: absolute;
    width: 80%;
    top: 3rem;
    left: 0;
    margin-left: -1.5rem;
}

.progress-bar{
    position: absolute;
    bottom: 5rem;
    width: 80%;
}

.progress-bar-text{
    position: absolute;
    bottom: 5.5rem;
    color: #fff;
}

.button-container{
    padding: 0 15px 0 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.alkonost {
    background-image: url("../../assets/images/1.jpg");
    background-size: 100%;
    width: 50%;
}